APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rainichi
DB_USERNAME=rainichi_user
DB_PASSWORD=UoUDKKaBU6692iqY

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
QUEUE_DRIVER=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=dev.rainichi@gmail.com
MAIL_PASSWORD=o1@34567
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME=Rai.Nichi
MAIL_FROM_ADDRESS=dev.rainichi@gmail.com

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_APP_CALLBACK_URL=

GOOGLE_APP_ID=
GOOGLE_APP_SECRET=
GOOGLE_APP_CALLBACK_URL=

AWS_ACCESS_KEY_ID=s3user10122
AWS_SECRET_ACCESS_KEY=rypm6+MZFNBjD4Z2tR73Fv455wC4MNuyVQzyIkP1
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=stg
AWS_URL=http://s3.storebox.vn

GRANT_TYPE=password
CLIENT_ID=8
CLIENT_PASSWORD=ARgOJWBsqinIl8TZoGCpJA2ZZx3F2uVzHHKp0PSX

ONE_PAY_URL_PAYMENT_INTERNATIONAL=https://mtf.onepay.vn/vpcpay/vpcpay.op
ONE_PAY_MERCHANT_ID_INTERNATIONAL=TESTONEPAY
ONE_PAY_ACCESS_CODE_INTERNATIONAL=6BEB2546
ONEPAY_HASH_CODE_INTERNATIONAL=6D0870CDE5F24F34F3915FB0045120DB

ONE_PAY_URL_PAYMENT_NATIONAL=https://mtf.onepay.vn/onecomm-pay/vpc.op
ONE_PAY_MERCHANT_ID_NATIONAL=ONEPAY
ONE_PAY_ACCESS_CODE_NATIONAL=D67342C2
ONEPAY_HASH_CODE_NATIONAL=A3EFDFABA8653DF2342E8DAC29B51AF0

VN_PAY_URL_PAYMENT = "http://sandbox.vnpayment.vn/paymentv2/vpcpay.html" #Dev environment in VNPAY
VN_PAY_TMN_CODE = "LABOVN01"#Website code is provided by VNPAY
VN_PAY_HASH_CODE = "ZBHKDBLMLXOLGMJHONEATQOAHLNFCWOX" #//Secret hast
VN_PAY_RETURN_URL = "https://stg.api.rainichi.com/api/payment-vnpay/response" #url return after checkout success
VN_PAY_CASH_RETURN_URL = "https://stg.api.rainichi.com/api/payment-by-cash/response" #url return after checkout success
VN_PAY_FE_RETURN_URL = "https://rainichi.com/cua-hang"

TIME_PRUNE=1440

CMS_LOGIN_LINK = "http://stg.admin.rainichi.com/#/login"


