/node_modules
/public/hot
/public/storage
/storage/app/public/courses
/storage/app/public/lessons
/storage/app/public/vocabulary
/storage/app/public/numbers
/storage/app/public/users/avatars
/storage/*.key
/config/service_account.json
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
